<h1>index</h1>
<a href="/oidc"><button>Google Login</button> </a> <br />
<br />
<a href="/logout?url=/?forcepostlogouturl">logout</a>
<br /><br />


<form method='post' enctype='multipart/form-data' action='/upload'>
    <input type='file' name='uploaded_file' >
    <button>Upload file</button>"
</form>"

profiles: {{profiles}}
