<h1>protected area</h1>
<a href="..">Back</a><br />



<form method='post' enctype='multipart/form-data' action="http://localhost:5002/upload">
    <input type='file' name='uploaded_file' >
    <button>Upload file</button>"
</form>"


<br /><br />

